asyncio
aioboto3
faiss-cpu==1.8.0
fastapi
langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.50
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
langdetect==1.0.9
nltk
PyMuPDF
PyMuPDFb
pypdf
pypdfium2
rapidfuzz
rapidocr-onnxruntime
scikit-learn
tiktoken
minio