spring:
  jpa:
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: ${DATASOURCE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

social:
  client:
    kakao:
      redirect-uri: ${KAKAO_REDIRECT_URI}
    google:
      redirect-uri: ${GOOGLE_REDIRECT_URI}