:root {
	--main-color: #2692ff;
	--secondary-color: #51a8ff;
	--third-color: #7dbeff;
	--fourth-color: #a8d3ff;
	--fifth-color: #d4e9ff;
	--sixth-color: #e9f4ff;
	--background-color: #f5f5f5;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	word-break: keep-all;
	font-size: 16px;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square,
		Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
}
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	margin: 0 10px;
}
a {
	text-decoration: none;
	color: inherit;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--main-color);
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease-in-out, visibility 0.5s ease-in-out;
}

.nav.visible {
	opacity: 1;
	visibility: visible;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	height: 50px;
	width: 50%;
}

.main--container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sixth-color);
}

.main--wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	max-width: 1200px;
	max-height: 600px;
	height: 35%;
}

.main--image {
	width: 100%;
	height: 100%;
	animation: fadeIn 1s ease-in-out;
	box-shadow: none;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(-50%) translateY(0);
	}
	40% {
		transform: translateX(-50%) translateY(-30px);
	}
	60% {
		transform: translateX(-50%) translateY(-15px);
	}
}

.fa-solid {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	animation: fadeIn 1s ease-out, bounce 2s infinite 0.3s;
}

section {
	width: 100vw;
	height: 100vh;
	padding: 60px;
	gap: 60px;
}

section.about--section {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 768px) {
	section.about--section {
		flex-direction: column;
		justify-content: center;
		/* gap: 10px; */
	}
	
}

.about {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.about.visible {
	opacity: 1;
}

.about--description {
	padding: 0 40px;
}

@media screen and (max-width: 768px) {
	.about--description {
		padding: 0;
	}
}

.description-image {
	width: 50%;
}

@media screen and (max-width: 768px) {
	.description-image {
		width: 100%;
	}
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	color: #4e5052;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2rem;
		color: #4e5052;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: gray;
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: 1.2rem;
		color: gray;
	}
}

.tech-stack-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.tech-stack-container {
		flex-direction: column;
		/* gap: 10px; */
	}
}

.tech-stack-contents {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--main-color);
	border-radius: 12px;
	padding: 10px 24px;
	background: var(--sixth-color);
	width: 25%;
	max-width: 300px;
	height: 100%;
	max-height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.tech-stack-contents {
		width: 100%;
	}
}

section.tech-stack-section,
section.architecture-section,
section.team-section {
	display: flex;
	flex-direction: column;
}

section.tech-stack-section > h1,
section.architecture-section > h1,
section.team-section > h1 {
	margin-top: 0;
}

.tech-stack-contents > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px;
}

.tech-stack-contents > li {
	margin-top: 10px;
}

.tech-stack-contents > h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
	font-size: 1.5rem;
}

section.architecture-section {
	width: 100%;
	height: 100%;
	/* background-color: var(--sixth-color); */
}

.architecture-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.architecture-image {
	width: 80%;
	height: 80%;
}

img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-section {
	height: auto;
}

.team-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	justify-content: space-between;
	width: 100%;
	gap: 10px;
	background-color: var(--sixth-color);
}

.our-team {
	padding: 30px 0 40px;
	margin-bottom: 30px;
	/* background-color: var(--sixth-color); */
	background-color: white;
	text-align: center;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.our-team .picture {
	display: inline-block;
	height: 130px;
	width: 130px;
	margin-bottom: 50px;
	z-index: 1;
	position: relative;
}

.our-team .picture::before {
	content: '';
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #1369ce;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.9;
	transform: scale(3);
	transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
	height: 100%;
}

.our-team .picture::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #1369ce;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.our-team .picture img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
}

.our-team .title {
	display: block;
	font-size: 15px;
	color: #4e5052;
	text-transform: capitalize;
}

.our-team .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #1369ce;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
}

.our-team:hover .social {
	bottom: 0;
}

.our-team .social li {
	display: inline-block;
}

.our-team .social li i {
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	cursor: pointer;
}

.our-team .social li i:hover {
	color: #1369ce;
	background-color: #f7f5ec;
}

.poster {
	background-color: var(--sixth-color);
	width: 100%;

	height: 100%;
}

.presentation {
	width: 100%;
	height: 100%;
}

